---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Zeynep Sena Doğan";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonSpaceGif" src="/space.webp"/>
    </div>
    <h1>Z. Sena Doğan</h1>
    <small>Mobile Application Developer (Flutter) && Product Designer</small>
    <h2>About</h2>
    <p>
        I am a professional mobile application and Flutter developer for nearly 2 years of experience. 
        My expertise includes creating cross-platform applications using Flutter and Dart. 
        I’m a designer and DevFest Organizer on Gdg Istanbul. 
        Also I’m doing Product Designs for my own projects. 
    </p>
    <p>
        I have a strong background in software development, specifically in mobile app design and development. 
        I have been studying software, including the C and C++ programming languages at école 42 for 2 years. 
        Currently, I am studying a bachelor's degree in physics at Yıldız Technical University ( YTU ) since 2020.
    </p>
    <div class="button">
        <a href="/works/">
            <button class="button">My portfolio</button>
        </a>
    </div>
    <h2>Skills</h2>
    <div class="link-images">
        <img width="46" height="46" alt="Flutter" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/flutter/flutter-original.svg"/>
        <img width="46" height="46" alt="Dart" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/dart/dart-original.svg"/>
        <img width="46" height="46" alt="Figma" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/figma/figma-original.svg"/>
        <img width="46" height="46" alt="C" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/c/c-original.svg"/>
        <img width="46" height="46" alt="C++" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/cplusplus/cplusplus-original.svg"/>
        <img width="46" height="46" alt="Apple" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/apple/apple-original.svg"/>
        <img width="46" height="46" alt="Google" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/google/google-original.svg"/>
        <img width="46" height="46" alt="Xcode" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/xcode/xcode-original.svg"/>
        <img width="46" height="46" alt="Git" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg"/>
    </div>
    <h2>Interests</h2>
    <p>
        I am passionate about software development, design, programming languages, sports and music.
        I'm a professional basketball player and I'm a big fan of the NBA.
        Also, I have a great interest in cars. Especially, I love American Muscle cars and JDM cars.
        I have hotwheels and diecast collection. I'm a very big fan of the Fast and Furious series.
    </p>
</Layout>
<style>
    /* small */
    small {
        background-color: #584966;
        color: #fdebf3;
        border-radius: 6px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 600;
        padding: 0.3em 0.6em 0.2em;
    }

    /* Button */
    button {
        background: rgba(0,0,0,0);
        border: 2px solid #78c2ad;
        border-radius: 8px;
        color: #fdebf3;
        font: 600 16px 'Josefin Sans', sans-serif;
        padding: 8px 16px;
        transition: background-color 0.4s, color 0.4s;
    }

    button:hover {
        background-color: #78c2ad;
        color: #1e1e2e;
        cursor: pointer;
    }

    .button {
        text-align: center;
    }

    /* Skill images */
    .link-images img {
        margin: 16px 4px;
    }

    @media only screen and (max-width: 600px) {
        .link-images img {
            height: 30px;
            width: 30px;
            margin: 16px 1px;
        }
    }
</style>
